In [1]:
%matplotlib inline
import pandas as pd

In [2]:
titles = pd.read_csv('data/titles.csv')
titles.head(10)

                                  title  year
0                         Habba Khatoon  1978
1                               Kaptaan  2016
2                El rostro de la muerte  1964
3                   La couleur des mots  2005
4                              Replecan  2017
5                   Gandhi of the Month  2014
6  The Hammer of Mara: Mephisto's Wrath  2015
7                     V ozhidanii chuda  2007
8                          All I Desire  1953
9                               Shibaji  2008

### Combien de films sont répertoriés dans datafarme (la base de donnée) des titres?

In [3]:
#pd.Index(titles).value_counts()
titles.title.count()

244914

### Quels sont les deux premiers films répertoriés dans la datafarme des titres?

In [4]:
titles.head(2)

           title  year
0  Habba Khatoon  1978
1        Kaptaan  2016

### Combien de films ont le titre "Hamlet"?

In [5]:
hamlet_movies = titles.where(titles['title']=='Hamlet')
hamlet_movies.title.count()

20

### Combien de films sont intitulés "North by Northwest"?

In [6]:
titles.title.where(titles['title']=='North by Northwest').count()

1

### Quand le premier film intitulé "Hamlet" a-t-il été réalisé ?

In [7]:
hamlet_years = hamlet_movies.year
hamlet_years.sort_values().head(1)

24528    1910.0
Name: year, dtype: float64

### Liste de tous les films "Treasure Island", du plus ancien au plus récent.

In [8]:
treasureisland_movies = titles.where(titles['title']=='Treasure Island').dropna()
treasureisland_movies.sort_values(by='year')

                  title    year
13896   Treasure Island  1918.0
153214  Treasure Island  1920.0
98938   Treasure Island  1934.0
195943  Treasure Island  1950.0
228825  Treasure Island  1972.0
106699  Treasure Island  1973.0
199406  Treasure Island  1985.0
105468  Treasure Island  1999.0

### Combien de films ont été réalisés en 1950 ?

In [9]:
titles.where(titles['year']==1950).title.count()

1113

### Combien de films ont été réalisés en 1960 ?

In [10]:
titles.where(titles['year']==1960).title.count()

1549

### Combien de films ont été réalisés entre 1950 et 1959 ?

In [11]:
titles.where(titles['year'] >= 1950).where(titles['year'] < 1960).title.count()

12934

In [12]:
titles.year.between(1950,1959).value_counts()

False    231980
True      12934
Name: year, dtype: int64

### En quelles années un film intitulé "Batman" est-il sorti ?

In [13]:
titles.where(titles['title']=='Batman').year.dropna()

230279    1943.0
237881    1989.0
Name: year, dtype: float64

### Combien de rôles y a-t-il eu dans le film "Inception" ?

In [14]:
casts = pd.read_csv('data/cast.csv')

In [15]:
allinceptionchar = casts.where(casts['title']=='Inception').character.count()
allinceptionchar

78

### Combien de rôles dans le film "Inception" ne sont PAS (NOT) classés par une valeur "n" ?

In [16]:
inceptioncharwithoutn = casts.where((casts['title']=='Inception') & (casts['n'].isna())).character.count()
inceptioncharwithoutn

27

### Mais combien de rôles dans le film "Inception" ont reçu une valeur "n" ?

In [17]:
allinceptionchar - inceptioncharwithoutn

51

In [18]:
casts.where(casts['title']=='Inception').dropna().character.count()

51

### Afficher les acteurs de "North by Northwest" dans leur ordre correct de valeur "n", en ignorant les rôles qui n'ont pas obtenu une valeur numérique "n".

In [19]:
casts.where(casts['title']=='North by Northwest').dropna().sort_values(['n'])

,title,year,name,type,character,n
871426,North by Northwest,1959.0,Cary Grant,actor,Roger O. Thornhill,1.0
3518333,North by Northwest,1959.0,Eva Marie Saint,actress,Eve Kendall,2.0
1457165,North by Northwest,1959.0,James Mason,actor,Phillip Vandamm,3.0
3157232,North by Northwest,1959.0,Jessie Royce Landis,actress,Clara Thornhill,4.0
356707,North by Northwest,1959.0,Leo G. Carroll,actor,The Professor,5.0
3048272,North by Northwest,1959.0,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1695173,North by Northwest,1959.0,Philip Ober,actor,Lester Townsend,7.0
1275337,North by Northwest,1959.0,Martin Landau,actor,Leonard,8.0
2447081,North by Northwest,1959.0,Adam Williams,actor,Valerian,9.0
1811387,North by Northwest,1959.0,Edward Platt,actor,Victor Larrabee,10.0
665768,North by Northwest,1959.0,Robert Ellenstein,actor,Licht,11.0
2295714,North by Northwest,1959.0,Les Tremayne,actor,Auctioneer,12.0
464736,North by Northwest,1959.0,Philip Coolidge,actor,Dr. Cross,13.0
1508344,North by Northwest,1959.0,Patrick McVey,actor,Sergeant Flamm,14.0
206471,North by Northwest,1959.0,Edward Binns,actor,Captain Junket,15.0
1384780,North by Northwest,1959.0,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Afficher l'ensemble du casting, dans l'ordre "n", du film "Sleuth" de 1972.

In [20]:
casts.where(casts['title']=='Sleuth').where(casts['year']==1972).dropna().sort_values(['n'])

,title,year,name,type,character,n
1705394,Sleuth,1972.0,Laurence Olivier,actor,Andrew Wyke,1.0
326773,Sleuth,1972.0,Michael Caine,actor,Milo Tindle,2.0
373876,Sleuth,1972.0,Alec Cawthorne,actor,Inspector Doppler,3.0
1465483,Sleuth,1972.0,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2724553,Sleuth,1972.0,Eve (III) Channing,actress,Marguerite Wyke,5.0
1448690,Sleuth,1972.0,Teddy Martin,actor,Police Constable Higgs,6.0

### Affichez maintenant l'ensemble du casting, dans l'ordre "n", de la version 2007 de "Sleuth".

In [21]:
casts.where(casts['title']=='Sleuth').where(casts['year']==2007).dropna().sort_values(['n'])

          title    year           name   type    character    n
326774   Sleuth  2007.0  Michael Caine  actor       Andrew  1.0
1293634  Sleuth  2007.0       Jude Law  actor         Milo  2.0
1805907  Sleuth  2007.0  Harold Pinter  actor  Man on T.V.  3.0

### Combien de rôles ont été crédités dans la version muette de Hamlet de 1921 ?

In [22]:
casts.where(casts['title']=='Hamlet').where(casts['year']==1921).character.count()

9

### Combien de rôles ont été crédités dans Hamlet de Branagh en 1996 ?

In [23]:
casts.where(casts['title']=='Hamlet').where(casts['year']==1996).character.count()

54

### Combien de rôles d'"Hamlet" ont été répertoriés dans tous les crédits de films à travers l'histoire ?

In [24]:
casts.where(casts['title']=='Hamlet').character.count()

342

### Combien de personnes ont joué une "Ophelia"?

In [25]:
casts.where(casts['character']=='Ophelia').character.count()

117

### Combien de personnes ont joué un rôle appelé "The Dude" ?

In [26]:
casts.where(casts['character']=='The Dude').character.count()

19

### Combien de personnes ont joué un rôle appelé " The Stranger " ?

In [27]:
casts.where(casts['character']=='The Stranger').character.count()

212

### Combien de rôles Sidney Poitier a-t-il joué au cours de sa carrière ?

In [28]:
casts.where(casts['name']=='Sidney Poitier').character.count()

43

### Combien de rôles a joué Judi Dench ?

In [29]:
casts.where(casts['name']=='Judi Dench').character.count()

55

### Énumérez les seconds rôles (n=2) joués par Cary Grant dans les années 1940, par ordre d'année.

In [30]:
casts.where((casts['name']=='Cary Grant') & (casts['n']==2) & (casts['year'].between(1940,1949))).sort_values(['year']).dropna()

                   title    year        name   type    character    n
871423  My Favorite Wife  1940.0  Cary Grant  actor   Nick Arden  2.0
871433    Penny Serenade  1941.0  Cary Grant  actor  Roger Adams  2.0

### Énumérez les principaux rôles que Cary Grant a joués dans les années 1940, dans l'ordre, par année.

In [31]:
casts.where((casts['name']=='Cary Grant') & (casts['n']==1) & (casts['year'].between(1940,1949))).sort_values(['character','year']).dropna()

,title,year,name,type,character,n
871450,The Philadelphia Story,1940.0,Cary Grant,actor,C. K. Dexter Haven,1.0
871398,Destination Tokyo,1943.0,Cary Grant,actor,Capt. Cassidy,1.0
871411,I Was a Male War Bride,1949.0,Cary Grant,actor,Captain Henri Rochard,1.0
871424,Night and Day,1946.0,Cary Grant,actor,Cole Porter,1.0
871427,Notorious,1946.0,Cary Grant,actor,Devlin,1.0
871444,The Bachelor and the Bobby-Soxer,1947.0,Cary Grant,actor,Dick Nugent,1.0
871402,Every Girl Should Be Married,1948.0,Cary Grant,actor,Dr. Madison Brown,1.0
871445,The Bishop's Wife,1947.0,Cary Grant,actor,Dudley,1.0
871425,None But the Lonely Heart,1944.0,Cary Grant,actor,Ernie Mott,1.0
871430,Once Upon a Time,1944.0,Cary Grant,actor,Jerry Flynn,1.0
871421,Mr. Blandings Builds His Dream House,1948.0,Cary Grant,actor,Jim Blandings,1.0
871422,Mr. Lucky,1943.0,Cary Grant,actor,Joe Adams -posing as Joe Bascopolous,1.0
871438,Suspicion,1941.0,Cary Grant,actor,Johnnie Aysgarth,1.0
871452,The Talk of the Town,1942.0,Cary Grant,actor,Leopold Dilg,1.0
871448,The Howards of Virginia,1940.0,Cary Grant,actor,Matt Howard,1.0
871390,Arsenic and Old Lace,1944.0,Cary Grant,actor,Mortimer Brewster,1.0
871429,Once Upon a Honeymoon,1942.0,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
871407,His Girl Friday,1940.0,Cary Grant,actor,Walter Burns,1.0

### Combien de rôles étaient disponibles pour les acteurs dans les années 1950 ?

In [32]:
casts.where(casts['year'].between(1950,1959)).character.count()

215471

### Combien de rôles étaient disponibles pour les actrices dans les années 1950 ?

In [33]:
casts.where((casts['year'].between(1950,1959)) & (casts['type']=="actress") ).character.count()

57733

### Combien de rôles principaux (n=1) étaient disponibles depuis le début de l'histoire du cinéma jusqu'en 1980 ?

In [34]:
casts.where((casts['year'] < 1980) & (casts['n']==1) ).character.count()

63957

### Combien de rôles non principaux étaient disponibles depuis le début de l'histoire du cinéma jusqu'en 1980 ?

In [35]:
casts.where((casts['year'] < 1980) & (casts['n']!=1) ).character.count()

1095378

### Combien de rôles, jusqu'en 1980, étaient suffisamment mineurs pour ne pas justifier un classement numérique "n" ?

In [36]:
casts.where((casts['year'] < 1980) & (casts['n'].isna()) ).character.count()

443881